@page "/"

@inject NavigationManager Navigation

<div class="fullscreen-container">
    <div class="lines" ><div class = "circle-bg"></div></div>
    <p class="quote">"Where words fail, music speaks." - Hans Christian Andersen</p>
    <button class="cta-button" @onclick="NavigateToSignIn">Get started</button>
</div>

@code {
    private void NavigateToSignIn()
    {
        Navigation.NavigateTo("/main");
    }
}
